@model BookModel;

    <div class="container">
        <h3 class="display-4">New Book</h3>
        @if (ViewBag.IsSuccess)
        { 
            <div class="alert alert-success" role="alert">
                New book successfully added! <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">Click here</a> for details.
            </div>
        }

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Language"></label>
            <select asp-for="Language" class="form-control" asp-items="ViewBag.Languages">
                <option value="">Please select a language</option>
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverPhoto"></label>
            <input asp-for="CoverPhoto" class="form-control-file" />
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gallery"></label>
            <input asp-for="Gallery" class="form-control-file" />
            <span asp-validation-for="Gallery" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-outline-primary" />
        </div>

    </form>
    </div>